@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Aplica fondo y color de texto a TODO el body */
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 min-h-screen transition-colors;
  }
}

html, body, #root {
  height: 100%;
}


.tippy-box[data-theme~='translucent'] {
  opacity: 0.70;        /* 50% de opacidad */
}


.tippy-box[data-theme~='translucent'] .tippy-content {
  color: rgba(107, 114, 128, 0.75); 
  font-size: 0.75rem;              
}